body{
    background-image: url("IMG3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
#logo{
   text-align: center;
   border-color: chocolate;
   color: aliceblue;
   padding: 6px;
   text-shadow: 5px 5px 20px  #242020;
   font-size: 300%; 
   font-family: Cinzel, serif; 
}
#tagline{
    color: rgb(218, 224, 224);
    text-shadow: 2px 2px 8px  #000000;
    text-align: center;  
    font-family: "Audiowide", sans-serif;
    font-size: 4cm;
    margin-top: 7cm;  
}
#nav{
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-top: -157mm;  
    word-spacing: 20px;
    border-radius: 25px;
}
#Login{  
    
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 5px 5px 12px 0px#000000;
   margin-top: 30%;
   margin-left: 41%;
   margin-right: 3%;
   border-radius: 15px;
   padding: 10px 30px;
}
#Signup{
    margin-top: 30%;
color: aliceblue;
text-shadow: 2px 2px 4px #000000;
box-shadow: 5px 5px 12px 0px#000000;
border-radius: 15px;
padding: 10px 30px;
}
#panel{
    opacity: 85%;
    box-shadow: 5px 5px 20px 5px#000000;
    height: 3cm;
}
#india{
    letter-spacing: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -1.7%;
    padding-left: 21.9cm;
}
#para{
    color: rgb(218, 224, 224);
    text-shadow: 2px 2px 8px  #000000;
    text-align: center;  
    font-family: "Audiowide", sans-serif;
    font-size: 1cm;
}
#home{
    border-radius: 25px;
    padding: 10px 30px;   
}
#Gallery{
    border-radius: 25px;
    padding: 10px 30px; 
}
#Contact{
    border-radius: 25px;
    padding: 10px 30px; 
}
#about{
    border-radius: 25px;
    padding: 10px 30px; 
}
